dependency-injector==4.35.2
sentry_sdk[flask]
pytest
omegaconf==2.1.0

# service
Flask==2.0.1

# server
gunicorn==20.1.0

# sanbox
jupyter
# core
numpy==1.21.1
opencv-python-headless==4.5.3.56
pandas
pillow==8.3.2


# detection
anyconfig
pyclipper 
editdistance

# recognition
